body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
scroll-behavior: smooth;
}

header{
    background-color: blue;
    color: white;
    width: 100%;
    height: 99px;
    left: 0px;
    top: 0px
}

.navegator{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.lista li{
    padding: 20px;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.uno{
    height: 150px;
    margin: 20px;
}

.home{
    color: blue;
}

.imagenes1{
    display: flex;
    justify-content: space-around;
}

.servicios{
    color: blueviolet;
}

.imagenes2{
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
}

.dos {
    
    margin: 180px 20px 50px 20px;
       
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagenes3{
    display: flex;
    justify-content: space-around;
}
.tres   {
    margin: 20px;
}

.s1{
    color: red;
}

.s2{
    color: blue;
}

.s3{
    color: green;
}

.s4{
    color: aqua;
}

.imagenes1 img{
    border-radius: 50px;
}

/*img{
    border-radius: 50px;
}*/

.cuatro{
    margin: 20px;
}

.contacto{
    width: 30px;
}