body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
}

html{
scroll-behavior: smooth;
}

header{
    background-color: blue;
    color: white;
    width: 100%;
    height: 99px;
    left: 0px;
    top: 0px
}

.navegator{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.lista li{
    padding: 20px;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.uno{
    height: 150px;
    margin: 20px;
}

.home{
    color: blue;
}

.imagenes1{
    display: flex;
    justify-content: space-around;
}

.servicios{
    color: blueviolet;
}

.imagenes2{
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
}

.dos {
    
    margin: 180px 20px 50px 20px;
       
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagenes3{
    display: flex;
    justify-content: space-around;
}
.tres   {
    margin: 20px;
}

.s1{
    color: red;
}

.s2{
    color: blue;
}

.s3{
    color: green;
}

.s4{
    color: aqua;
}

.imagenes1 img{
    border-radius: 50px;
}

img{
    border-radius: 50px;
}

.imagenes2 img{
    border-style: dotted;
}

.imagenes3 img{
    border-style: dashed solid;
}

.cuatro{
    margin: 20px;
}

.input1{
    box-sizing: border-box;
    width: 1339px;
    height: 88px;
    left: 20px;
    top: 2000px;
    border: 1px solid #000000;
}

.textarea1{
    box-sizing: border-box;
    width: 1339px;
    height: 214px;
    left: 38px;
    top: 2323px;
    border: 1px solid #000000;
}

.boton{
    background-color: aquamarine;
    box-sizing: border-box;
    width: 195px;
    height: 73px;
    left: 40px;
    top: 2574px;
    border: 1px solid #22A900;
    cursor: pointer;
    box-shadow: 1px 3px 11px -1px red;
}
footer{
    background-color: blue;
    color: white;
    width: 100%;
    height: 99px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

footer span{
    display: flex;
    align-items: center;
    margin: 40px;
}